:root {
  --color-base-black: #000000ff;
  --color-base-white: #ffffffff;
  --color-base-transparent: #ffffff03;
  --color-neutral-grey-2: #050508ff;
  --color-neutral-grey-4: #0a0a0dff;
  --color-neutral-grey-6: #0f0f13ff;
  --color-neutral-grey-8: #141419ff;
  --color-neutral-grey-10: #1a1a1fff;
  --color-neutral-grey-12: #1f1f25ff;
  --color-neutral-grey-14: #24242bff;
  --color-neutral-grey-16: #292930ff;
  --color-neutral-grey-18: #2e2e35ff;
  --color-neutral-grey-20: #33333aff;
  --color-neutral-grey-22: #38383fff;
  --color-neutral-grey-24: #3d3d45ff;
  --color-neutral-grey-26: #42424bff;
  --color-neutral-grey-28: #474750ff;
  --color-neutral-grey-30: #4c4c56ff;
  --color-neutral-grey-32: #51515cff;
  --color-neutral-grey-34: #565661ff;
  --color-neutral-grey-36: #5b5b67ff;
  --color-neutral-grey-38: #60606dff;
  --color-neutral-grey-40: #656572ff;
  --color-neutral-grey-42: #6a6a78ff;
  --color-neutral-grey-44: #6f6f7eff;
  --color-neutral-grey-46: #747484ff;
  --color-neutral-grey-48: #79798aff;
  --color-neutral-grey-50: #7e7e90ff;
  --color-neutral-grey-52: #838395ff;
  --color-neutral-grey-54: #88889aff;
  --color-neutral-grey-56: #8d8d9fff;
  --color-neutral-grey-58: #9292a4ff;
  --color-neutral-grey-60: #9797a8ff;
  --color-neutral-grey-62: #9b9badff;
  --color-neutral-grey-64: #a0a0b1ff;
  --color-neutral-grey-66: #a5a5b5ff;
  --color-neutral-grey-68: #aaaab9ff;
  --color-neutral-grey-70: #afafbdff;
  --color-neutral-grey-72: #b4b4c1ff;
  --color-neutral-grey-74: #b9b9c5ff;
  --color-neutral-grey-76: #bebec9ff;
  --color-neutral-grey-78: #c3c3cdff;
  --color-neutral-grey-80: #c8c8d0ff;
  --color-neutral-grey-82: #cdcdd4ff;
  --color-neutral-grey-84: #d2d2d7ff;
  --color-neutral-grey-86: #dadadfff;
  --color-neutral-grey-88: #dfdfe4ff;
  --color-neutral-grey-90: #e4e4e9ff;
  --color-neutral-grey-92: #e9e9eeff;
  --color-neutral-grey-94: #eeeef3ff;
  --color-neutral-grey-96: #f3f3f8ff;
  --color-neutral-grey-98: #f8f8fdff;
  --color-alpha-white-0: #ffffff00;
  --color-alpha-white-5: #ffffff0d;
  --color-alpha-white-10: #ffffff1a;
  --color-alpha-white-20: #ffffff33;
  --color-alpha-white-30: #ffffff4d;
  --color-alpha-white-40: #ffffff66;
  --color-alpha-white-50: #ffffff80;
  --color-alpha-white-60: #ffffff99;
  --color-alpha-white-70: #ffffffb2;
  --color-alpha-white-80: #ffffffcc;
  --color-alpha-white-90: #ffffffe5;
  --color-alpha-black-0: #00000000;
  --color-alpha-black-5: #0000000d;
  --color-alpha-black-10: #0000001a;
  --color-alpha-black-20: #00000033;
  --color-alpha-black-30: #0000004d;
  --color-alpha-black-40: #00000066;
  --color-alpha-black-50: #00000080;
  --color-alpha-black-60: #00000099;
  --color-alpha-black-70: #000000b2;
  --color-alpha-black-80: #000000cc;
  --color-alpha-black-90: #000000e5;
  --color-alpha-gray-5: #00002a0d;
  --color-alpha-gray-10: #00002a1a;
  --color-alpha-gray-20: #00002a33;
  --color-alpha-gray-30: #00002a4d;
  --color-alpha-gray-40: #00002a66;
  --color-alpha-gray-50: #00002a80;
  --color-alpha-gray-60: #00002a99;
  --color-alpha-gray-70: #00002ab2;
  --color-alpha-gray-80: #00002acc;
  --color-alpha-gray-90: #00002ae5;
  --color-shared-darkRed-shade-50: #190307ff;
  --color-shared-darkRed-shade-40: #2d040cff;
  --color-shared-darkRed-shade-30: #4d0915ff;
  --color-shared-darkRed-shade-20: #64101cff;
  --color-shared-darkRed-shade-10: #76121fff;
  --color-shared-darkRed-primary: #831522ff;
  --color-shared-darkRed-tint-10: #972233ff;
  --color-shared-darkRed-tint-20: #a83847ff;
  --color-shared-darkRed-tint-30: #bf5867ff;
  --color-shared-darkRed-tint-40: #e4a1acff;
  --color-shared-darkRed-tint-50: #f2cdd4ff;
  --color-shared-darkRed-tint-60: #fcf3f5ff;
  --color-shared-burgundy-shade-50: #20070aff;
  --color-shared-burgundy-shade-40: #3a0e11ff;
  --color-shared-burgundy-shade-30: #66181dff;
  --color-shared-burgundy-shade-20: #871f24ff;
  --color-shared-burgundy-shade-10: #9f242bff;
  --color-shared-burgundy-primary: #b02930ff;
  --color-shared-burgundy-tint-10: #bc3e44ff;
  --color-shared-burgundy-tint-20: #c95258ff;
  --color-shared-burgundy-tint-30: #d77176ff;
  --color-shared-burgundy-tint-40: #edb8bbff;
  --color-shared-burgundy-tint-50: #f5d9daff;
  --color-shared-burgundy-tint-60: #fcf6f6ff;
  --color-shared-cranberry-shade-50: #270307ff;
  --color-shared-cranberry-shade-40: #46070cff;
  --color-shared-cranberry-shade-30: #7a0a15ff;
  --color-shared-cranberry-shade-20: #a30e1cff;
  --color-shared-cranberry-shade-10: #be111fff;
  --color-shared-cranberry-primary: #d11323ff;
  --color-shared-cranberry-tint-10: #d92c3bff;
  --color-shared-cranberry-tint-20: #e24752ff;
  --color-shared-cranberry-tint-30: #eb6b72ff;
  --color-shared-cranberry-tint-40: #f2b3b8ff;
  --color-shared-cranberry-tint-50: #f8d6daff;
  --color-shared-cranberry-tint-60: #fdf5f6ff;
  --color-shared-red-shade-50: #280a0bff;
  --color-shared-red-shade-40: #491416ff;
  --color-shared-red-shade-30: #802225ff;
  --color-shared-red-shade-20: #aa2e32ff;
  --color-shared-red-shade-10: #c73539ff;
  --color-shared-red-primary: #dd3b40ff;
  --color-shared-red-tint-10: #e25256ff;
  --color-shared-red-tint-20: #e86a6dff;
  --color-shared-red-tint-30: #ee898cff;
  --color-shared-red-tint-40: #f5c3c5ff;
  --color-shared-red-tint-50: #fadfe0ff;
  --color-shared-red-tint-60: #fdf7f7ff;
  --color-shared-darkOrange-shade-50: #300d00ff;
  --color-shared-darkOrange-shade-40: #561a00ff;
  --color-shared-darkOrange-shade-30: #902d03ff;
  --color-shared-darkOrange-shade-20: #bf3a03ff;
  --color-shared-darkOrange-shade-10: #dd4203ff;
  --color-shared-darkOrange-primary: #f14803ff;
  --color-shared-darkOrange-tint-10: #f66022ff;
  --color-shared-darkOrange-tint-20: #fb7940ff;
  --color-shared-darkOrange-tint-30: #ff9a6aff;
  --color-shared-darkOrange-tint-40: #fbcdbdff;
  --color-shared-darkOrange-tint-50: #fde6deff;
  --color-shared-darkOrange-tint-60: #fdf8f6ff;
  --color-shared-bronze-shade-50: #220d03ff;
  --color-shared-bronze-shade-40: #3d1907ff;
  --color-shared-bronze-shade-30: #6e2e0cff;
  --color-shared-bronze-shade-20: #9b4310ff;
  --color-shared-bronze-shade-10: #b95113ff;
  --color-shared-bronze-primary: #cf5d16ff;
  --color-shared-bronze-tint-10: #e3742cff;
  --color-shared-bronze-tint-20: #f88f47ff;
  --color-shared-bronze-tint-30: #ffaa64ff;
  --color-shared-bronze-tint-40: #ffd0a0ff;
  --color-shared-bronze-tint-50: #ffe6ceff;
  --color-shared-bronze-tint-60: #fffaf8ff;
  --color-shared-pumpkin-shade-50: #270f05ff;
  --color-shared-pumpkin-shade-40: #4a1d09ff;
  --color-shared-pumpkin-shade-30: #8a370eff;
  --color-shared-pumpkin-shade-20: #b44d13ff;
  --color-shared-pumpkin-shade-10: #d25d19ff;
  --color-shared-pumpkin-primary: #e87023ff;
  --color-shared-pumpkin-tint-10: #ed8540ff;
  --color-shared-pumpkin-tint-20: #f39a59ff;
  --color-shared-pumpkin-tint-30: #f9b581ff;
  --color-shared-pumpkin-tint-40: #ffccaaff;
  --color-shared-pumpkin-tint-50: #ffe5d2ff;
  --color-shared-pumpkin-tint-60: #fffaf8ff;
  --color-shared-orange-shade-50: #2d1103ff;
  --color-shared-orange-shade-40: #512105ff;
  --color-shared-orange-shade-30: #943c08ff;
  --color-shared-orange-shade-20: #c14f0aff;
  --color-shared-orange-shade-10: #e25d0cff;
  --color-shared-orange-primary: #ff680eff;
  --color-shared-orange-tint-10: #fa7b2dff;
  --color-shared-orange-tint-20: #fb904bff;
  --color-shared-orange-tint-30: #fca771ff;
  --color-shared-orange-tint-40: #ffd4baff;
  --color-shared-orange-tint-50: #fee9dcff;
  --color-shared-orange-tint-60: #fffbf7ff;
  --color-shared-peach-shade-50: #2f1800ff;
  --color-shared-peach-shade-40: #533000ff;
  --color-shared-peach-shade-30: #995400ff;
  --color-shared-peach-shade-20: #cc7000ff;
  --color-shared-peach-shade-10: #f18400ff;
  --color-shared-peach-primary: #ff9300ff;
  --color-shared-peach-tint-10: #ffa12aff;
  --color-shared-peach-tint-20: #ffaf48ff;
  --color-shared-peach-tint-30: #ffc272ff;
  --color-shared-peach-tint-40: #ffe0bbff;
  --color-shared-peach-tint-50: #ffefd9ff;
  --color-shared-peach-tint-60: #fffbf7ff;
  --color-shared-marigold-shade-50: #2a1d00ff;
  --color-shared-marigold-shade-40: #4d3600ff;
  --color-shared-marigold-shade-30: #8d6100ff;
  --color-shared-marigold-shade-20: #bc8300ff;
  --color-shared-marigold-shade-10: #dd9a00ff;
  --color-shared-marigold-primary: #f2aa00ff;
  --color-shared-marigold-tint-10: #f4b51fff;
  --color-shared-marigold-tint-20: #f6c03dff;
  --color-shared-marigold-tint-30: #f8ce67ff;
  --color-shared-marigold-tint-40: #fce6b5ff;
  --color-shared-marigold-tint-50: #fdf2d8ff;
  --color-shared-marigold-tint-60: #fefcf6ff;
  --color-shared-yellow-shade-50: #2e2900ff;
  --color-shared-yellow-shade-40: #524b00ff;
  --color-shared-yellow-shade-30: #897a00ff;
  --color-shared-yellow-shade-20: #c9b600ff;
  --color-shared-yellow-shade-10: #e9d400ff;
  --color-shared-yellow-primary: #ffe700ff;
  --color-shared-yellow-tint-10: #ffe92aff;
  --color-shared-yellow-tint-20: #ffed49ff;
  --color-shared-yellow-tint-30: #fff16fff;
  --color-shared-yellow-tint-40: #fff9b8ff;
  --color-shared-yellow-tint-50: #fffcdcff;
  --color-shared-yellow-tint-60: #fffff7ff;
  --color-shared-gold-shade-50: #241e00ff;
  --color-shared-gold-shade-40: #403500ff;
  --color-shared-gold-shade-30: #755d00ff;
  --color-shared-gold-shade-20: #9d7e00ff;
  --color-shared-gold-shade-10: #b99400ff;
  --color-shared-gold-primary: #cda400ff;
  --color-shared-gold-tint-10: #d4af1dff;
  --color-shared-gold-tint-20: #dcba38ff;
  --color-shared-gold-tint-30: #e5c95eff;
  --color-shared-gold-tint-40: #f3e1aaff;
  --color-shared-gold-tint-50: #f9efd1ff;
  --color-shared-gold-tint-60: #fefcf4ff;
  --color-shared-brass-shade-50: #1d1503ff;
  --color-shared-brass-shade-40: #342603ff;
  --color-shared-brass-shade-30: #5c4307ff;
  --color-shared-brass-shade-20: #7c5a09ff;
  --color-shared-brass-shade-10: #916a0bff;
  --color-shared-brass-primary: #a1770cff;
  --color-shared-brass-tint-10: #ad8621ff;
  --color-shared-brass-tint-20: #ba9538ff;
  --color-shared-brass-tint-30: #cbaa5bff;
  --color-shared-brass-tint-40: #e5d4a8ff;
  --color-shared-brass-tint-50: #f2e8d1ff;
  --color-shared-brass-tint-60: #fcfaf4ff;
  --color-shared-brown-shade-50: #1c1108ff;
  --color-shared-brown-shade-40: #311e10ff;
  --color-shared-brown-shade-30: #57351dff;
  --color-shared-brown-shade-20: #744726ff;
  --color-shared-brown-shade-10: #89532cff;
  --color-shared-brown-primary: #975d31ff;
  --color-shared-brown-tint-10: #a76d44ff;
  --color-shared-brown-tint-20: #b57e58ff;
  --color-shared-brown-tint-30: #c99876ff;
  --color-shared-brown-tint-40: #e0c7b4ff;
  --color-shared-brown-tint-50: #efe0d6ff;
  --color-shared-brown-tint-60: #fcf9f6ff;
  --color-shared-darkBrown-shade-50: #0e0805ff;
  --color-shared-darkBrown-shade-40: #1b0e09ff;
  --color-shared-darkBrown-shade-30: #301a12ff;
  --color-shared-darkBrown-shade-20: #412217ff;
  --color-shared-darkBrown-shade-10: #4d291bff;
  --color-shared-darkBrown-primary: #562e1eff;
  --color-shared-darkBrown-tint-10: #6b4030ff;
  --color-shared-darkBrown-tint-20: #825345ff;
  --color-shared-darkBrown-tint-30: #9e7163ff;
  --color-shared-darkBrown-tint-40: #d1b4a9ff;
  --color-shared-darkBrown-tint-50: #e8d7d1ff;
  --color-shared-darkBrown-tint-60: #fbf5f4ff;
  --color-shared-lime-shade-50: #151f07ff;
  --color-shared-lime-shade-40: #28380cff;
  --color-shared-lime-shade-30: #476917ff;
  --color-shared-lime-shade-20: #5f8d1eff;
  --color-shared-lime-shade-10: #71a423ff;
  --color-shared-lime-primary: #7db627ff;
  --color-shared-lime-tint-10: #8cc03cff;
  --color-shared-lime-tint-20: #9cc950ff;
  --color-shared-lime-tint-30: #b0d572ff;
  --color-shared-lime-tint-40: #d6ebb5ff;
  --color-shared-lime-tint-50: #eaf5d8ff;
  --color-shared-lime-tint-60: #fafdf6ff;
  --color-shared-forest-shade-50: #0e1802ff;
  --color-shared-forest-shade-40: #1a2c03ff;
  --color-shared-forest-shade-30: #2e4f04ff;
  --color-shared-forest-shade-20: #3d6a05ff;
  --color-shared-forest-shade-10: #498005ff;
  --color-shared-forest-primary: #518d06ff;
  --color-shared-forest-tint-10: #619c18ff;
  --color-shared-forest-tint-20: #74ac2eff;
  --color-shared-forest-tint-30: #8fc14fff;
  --color-shared-forest-tint-40: #c4dea0ff;
  --color-shared-forest-tint-50: #e0eed0ff;
  --color-shared-forest-tint-60: #f8fcf2ff;
  --color-shared-seafoam-shade-50: #002616ff;
  --color-shared-emerald-shade-50: #00201bff;
  --color-shared-emerald-shade-40: #004d3fff;
  --color-shared-emerald-shade-30: #008466ff;
  --color-shared-emerald-shade-20: #00b88fff;
  --color-shared-emerald-shade-10: #00ddb3ff;
  --color-shared-emerald-primary: #00ffccff;
  --color-shared-emerald-tint-10: #1affdbff;
  --color-shared-emerald-tint-20: #4dffe5ff;
  --color-shared-emerald-tint-30: #66ffeaff;
  --color-shared-emerald-tint-40: #b3fff5ff;
  --color-shared-emerald-tint-50: #ccfffaff;
  --color-shared-emerald-tint-60: #e6fffdff;
  --color-shared-seafoam-shade-40: #004924ff;
  --color-shared-seafoam-shade-30: #008244ff;
  --color-shared-seafoam-shade-20: #00ad5bff;
  --color-shared-seafoam-shade-10: #00ca69ff;
  --color-shared-seafoam-primary: #00de74ff;
  --color-shared-seafoam-tint-10: #1fe485ff;
  --color-shared-seafoam-tint-20: #3dea96ff;
  --color-shared-seafoam-tint-30: #63f2adff;
  --color-shared-seafoam-tint-40: #adf5d1ff;
  --color-shared-seafoam-tint-50: #d3fae7ff;
  --color-shared-seafoam-tint-60: #f5fdf9ff;
  --color-shared-lightGreen-shade-50: #041f03ff;
  --color-shared-lightGreen-shade-40: #073705ff;
  --color-shared-lightGreen-shade-30: #0d6309ff;
  --color-shared-lightGreen-shade-20: #10850cff;
  --color-shared-lightGreen-shade-10: #149e0fff;
  --color-shared-lightGreen-primary: #16af10ff;
  --color-shared-lightGreen-tint-10: #2bbb25ff;
  --color-shared-lightGreen-tint-20: #41c53cff;
  --color-shared-lightGreen-tint-30: #63d45eff;
  --color-shared-lightGreen-tint-40: #abe7aaff;
  --color-shared-lightGreen-tint-50: #d2f3d1ff;
  --color-shared-lightGreen-tint-60: #f4fcf4ff;
  --color-shared-green-shade-50: #041804ff;
  --color-shared-green-shade-40: #072c07ff;
  --color-shared-green-shade-30: #0c4c0cff;
  --color-shared-green-shade-20: #0f660fff;
  --color-shared-green-shade-10: #117911ff;
  --color-shared-green-primary: #138613ff;
  --color-shared-green-tint-10: #259626ff;
  --color-shared-green-tint-20: #3aa73aff;
  --color-shared-green-tint-30: #5ec25eff;
  --color-shared-green-tint-40: #a5dfa5ff;
  --color-shared-green-tint-50: #cfefceff;
  --color-shared-green-tint-60: #f3fcf3ff;
  --color-shared-darkGreen-shade-50: #031503ff;
  --color-shared-darkGreen-shade-40: #042604ff;
  --color-shared-darkGreen-shade-30: #074507ff;
  --color-shared-darkGreen-shade-20: #095a09ff;
  --color-shared-darkGreen-shade-10: #0c690cff;
  --color-shared-darkGreen-primary: #0d750dff;
  --color-shared-darkGreen-tint-10: #1e881eff;
  --color-shared-darkGreen-tint-20: #319c31ff;
  --color-shared-darkGreen-tint-30: #52b552ff;
  --color-shared-darkGreen-tint-40: #a1d8a1ff;
  --color-shared-darkGreen-tint-50: #cdeccfff;
  --color-shared-darkGreen-tint-60: #f2fbf2ff;
  --color-shared-lightTeal-shade-50: #002224ff;
  --color-shared-lightTeal-shade-40: #004045ff;
  --color-shared-lightTeal-shade-30: #007077ff;
  --color-shared-lightTeal-shade-20: #0098a1ff;
  --color-shared-lightTeal-shade-10: #00b1bcff;
  --color-shared-lightTeal-primary: #00c4d1ff;
  --color-shared-lightTeal-tint-10: #1eccd8ff;
  --color-shared-lightTeal-tint-20: #3ad5dfff;
  --color-shared-lightTeal-tint-30: #61e0e7ff;
  --color-shared-lightTeal-tint-40: #abeff2ff;
  --color-shared-lightTeal-tint-50: #d2f7f9ff;
  --color-shared-lightTeal-tint-60: #f4fdfeff;
  --color-shared-teal-shade-50: #02191aff;
  --color-shared-teal-shade-40: #03302fff;
  --color-shared-teal-shade-30: #055154ff;
  --color-shared-teal-shade-20: #067072ff;
  --color-shared-teal-shade-10: #088488ff;
  --color-shared-teal-primary: #099196ff;
  --color-shared-teal-tint-10: #1da0a5ff;
  --color-shared-teal-tint-20: #34afb3ff;
  --color-shared-teal-tint-30: #57c3c6ff;
  --color-shared-teal-tint-40: #a2e0e2ff;
  --color-shared-teal-tint-50: #ccf0f1ff;
  --color-shared-teal-tint-60: #f2fbfbff;
  --color-shared-darkTeal-shade-50: #001414ff;
  --color-shared-darkTeal-shade-40: #002525ff;
  --color-shared-darkTeal-shade-30: #004343ff;
  --color-shared-darkTeal-shade-20: #005858ff;
  --color-shared-darkTeal-shade-10: #006666ff;
  --color-shared-darkTeal-primary: #007171ff;
  --color-shared-darkTeal-tint-10: #108585ff;
  --color-shared-darkTeal-tint-20: #259898ff;
  --color-shared-darkTeal-tint-30: #47b0b0ff;
  --color-shared-darkTeal-tint-40: #97d7d7ff;
  --color-shared-darkTeal-tint-50: #c6ececff;
  --color-shared-darkTeal-tint-60: #f1fbfbff;
  --color-shared-cyan-shade-50: #005163ff;
  --color-shared-cyan-shade-40: #007a90ff;
  --color-shared-cyan-shade-30: #008ea4ff;
  --color-shared-cyan-shade-20: #009bb0ff;
  --color-shared-cyan-shade-10: #00aad1ff;
  --color-shared-cyan-primary: #00cfffff;
  --color-shared-cyan-tint-10: #1ad6ffff;
  --color-shared-cyan-tint-20: #3cdeffff;
  --color-shared-cyan-tint-30: #99eeffff;
  --color-shared-cyan-tint-40: #bcf3ffff;
  --color-shared-cyan-tint-50: #dbf8ffff;
  --color-shared-cyan-tint-60: #eafbffff;
  --color-shared-steel-shade-50: #001216ff;
  --color-shared-steel-shade-40: #00202aff;
  --color-shared-steel-shade-30: #003948ff;
  --color-shared-steel-shade-20: #005162ff;
  --color-shared-steel-shade-10: #005e74ff;
  --color-shared-steel-primary: #00677fff;
  --color-shared-steel-tint-10: #117892ff;
  --color-shared-steel-tint-20: #268aa4ff;
  --color-shared-steel-tint-30: #4da3bcff;
  --color-shared-steel-tint-40: #9acddaff;
  --color-shared-steel-tint-50: #c7e5ecff;
  --color-shared-steel-tint-60: #f1f9faff;
  --color-shared-lightBlue-shade-50: #0b1c29ff;
  --color-shared-lightBlue-shade-40: #153355ff;
  --color-shared-lightBlue-shade-30: #256086ff;
  --color-shared-lightBlue-shade-20: #3181b5ff;
  --color-shared-lightBlue-shade-10: #3995d4ff;
  --color-shared-lightBlue-primary: #40a4eaff;
  --color-shared-lightBlue-tint-10: #55afefff;
  --color-shared-lightBlue-tint-20: #6bbbf3ff;
  --color-shared-lightBlue-tint-30: #89caf8ff;
  --color-shared-lightBlue-tint-40: #c3e3fbff;
  --color-shared-lightBlue-tint-50: #dff1fdff;
  --color-shared-lightBlue-tint-60: #f8fcfeff;
  --color-shared-blue-shade-50: #00162aff;
  --color-shared-blue-shade-40: #002a4aff;
  --color-shared-blue-shade-30: #00508aff;
  --color-shared-blue-shade-20: #0066b5ff;
  --color-shared-blue-shade-10: #0077d2ff;
  --color-shared-blue-primary: #0084e8ff;
  --color-shared-blue-tint-10: #1e92ecff;
  --color-shared-blue-tint-20: #3ca1f0ff;
  --color-shared-blue-tint-30: #63b6f5ff;
  --color-shared-blue-tint-40: #add8f7ff;
  --color-shared-blue-tint-50: #d4eafbff;
  --color-shared-blue-tint-60: #f5fbfeff;
  --color-shared-royalBlue-shade-50: #00101cff;
  --color-shared-royalBlue-shade-40: #001c32ff;
  --color-shared-royalBlue-shade-30: #003460ff;
  --color-shared-royalBlue-shade-20: #00427dff;
  --color-shared-royalBlue-shade-10: #004f92ff;
  --color-shared-royalBlue-primary: #0058a1ff;
  --color-shared-royalBlue-tint-10: #1669aeff;
  --color-shared-royalBlue-tint-20: #2e7dbdff;
  --color-shared-royalBlue-tint-30: #5097cfff;
  --color-shared-royalBlue-tint-40: #9fc5e2ff;
  --color-shared-royalBlue-tint-50: #cbe1f0ff;
  --color-shared-royalBlue-tint-60: #f2f8fcff;
  --color-shared-darkBlue-shade-50: #000b13ff;
  --color-shared-darkBlue-shade-40: #001424ff;
  --color-shared-darkBlue-shade-30: #002646ff;
  --color-shared-darkBlue-shade-20: #003256ff;
  --color-shared-darkBlue-shade-10: #003b65ff;
  --color-shared-darkBlue-primary: #00426fff;
  --color-shared-darkBlue-tint-10: #115384ff;
  --color-shared-darkBlue-tint-20: #276797ff;
  --color-shared-darkBlue-tint-30: #4884b0ff;
  --color-shared-darkBlue-tint-40: #98bcd7ff;
  --color-shared-darkBlue-tint-50: #c6dbeaff;
  --color-shared-darkBlue-tint-60: #f1f6fbff;
  --color-shared-cornflower-shade-50: #0f142cff;
  --color-shared-cornflower-shade-40: #1c2651ff;
  --color-shared-cornflower-shade-30: #30429aff;
  --color-shared-cornflower-shade-20: #4158c5ff;
  --color-shared-cornflower-shade-10: #4c67e2ff;
  --color-shared-cornflower-primary: #5472faff;
  --color-shared-cornflower-tint-10: #6883fcff;
  --color-shared-cornflower-tint-20: #7c94feff;
  --color-shared-cornflower-tint-30: #98abffff;
  --color-shared-cornflower-tint-40: #ccd6fdff;
  --color-shared-cornflower-tint-50: #e4e9feff;
  --color-shared-cornflower-tint-60: #f9faffff;
  --color-shared-navy-shade-50: #00071fff;
  --color-shared-navy-shade-40: #00103cff;
  --color-shared-navy-shade-30: #001b70ff;
  --color-shared-navy-shade-20: #002493ff;
  --color-shared-navy-shade-10: #0029acff;
  --color-shared-navy-primary: #002ec0ff;
  --color-shared-navy-tint-10: #1c42c9ff;
  --color-shared-navy-tint-20: #3758d2ff;
  --color-shared-navy-tint-30: #5d78dfff;
  --color-shared-navy-tint-40: #a9b8edff;
  --color-shared-navy-tint-50: #d1d9f5ff;
  --color-shared-navy-tint-60: #f4f6fdff;
  --color-shared-indigo-shade-50: #0a0020ff;
  --color-shared-indigo-shade-40: #1b0052ff;
  --color-shared-indigo-shade-30: #22006dff;
  --color-shared-indigo-shade-20: #3b00bfff;
  --color-shared-indigo-shade-10: #4400d8ff;
  --color-shared-indigo-primary: #5405ffff;
  --color-shared-indigo-tint-10: #7637ffff;
  --color-shared-indigo-tint-20: #8952ffff;
  --color-shared-indigo-tint-30: #9c6cffff;
  --color-shared-indigo-tint-40: #c0a0ffff;
  --color-shared-indigo-tint-50: #e0d0ffff;
  --color-shared-indigo-tint-60: #f0e8ffff;
  --color-shared-lavender-shade-50: #14112bff;
  --color-shared-lavender-shade-40: #282158ff;
  --color-shared-lavender-shade-30: #463b8eff;
  --color-shared-lavender-shade-20: #5e4fbbff;
  --color-shared-lavender-shade-10: #6e5ddbff;
  --color-shared-lavender-primary: #7a68f2ff;
  --color-shared-lavender-tint-10: #8a7af5ff;
  --color-shared-lavender-tint-20: #9a8df7ff;
  --color-shared-lavender-tint-30: #b0a6faff;
  --color-shared-lavender-tint-40: #d8d3fcff;
  --color-shared-lavender-tint-50: #ece9feff;
  --color-shared-lavender-tint-60: #fbfaffff;
  --color-shared-purple-shade-50: #12081cff;
  --color-shared-purple-shade-40: #210f32ff;
  --color-shared-purple-shade-30: #3a1d5aff;
  --color-shared-purple-shade-20: #4d2680ff;
  --color-shared-purple-shade-10: #5b2d96ff;
  --color-shared-purple-primary: #6632a6ff;
  --color-shared-purple-tint-10: #7643b4ff;
  --color-shared-purple-tint-20: #8757c1ff;
  --color-shared-purple-tint-30: #9f75d3ff;
  --color-shared-purple-tint-40: #d0b5e6ff;
  --color-shared-purple-tint-50: #e5d6f2ff;
  --color-shared-purple-tint-60: #f9f6fcff;
  --color-shared-darkPurple-shade-50: #0c0514ff;
  --color-shared-darkPurple-shade-40: #170a26ff;
  --color-shared-darkPurple-shade-30: #2a1145ff;
  --color-shared-darkPurple-shade-20: #38175cff;
  --color-shared-darkPurple-shade-10: #421a6cff;
  --color-shared-darkPurple-primary: #491e78ff;
  --color-shared-darkPurple-tint-10: #5b2f8bff;
  --color-shared-darkPurple-tint-20: #6e439cff;
  --color-shared-darkPurple-tint-30: #8a61b5ff;
  --color-shared-darkPurple-tint-40: #c0a9d9ff;
  --color-shared-darkPurple-tint-50: #dfd1ebff;
  --color-shared-darkPurple-tint-60: #f7f4faff;
  --color-shared-orchid-shade-50: #1a1223ff;
  --color-shared-orchid-shade-40: #2e2040ff;
  --color-shared-orchid-shade-30: #533a70ff;
  --color-shared-orchid-shade-20: #6f4f96ff;
  --color-shared-orchid-shade-10: #825db1ff;
  --color-shared-orchid-primary: #9068c4ff;
  --color-shared-orchid-tint-10: #9c78ccff;
  --color-shared-orchid-tint-20: #a988d5ff;
  --color-shared-orchid-tint-30: #bd9fdfff;
  --color-shared-orchid-tint-40: #dfd0f1ff;
  --color-shared-orchid-tint-50: #efe6f8ff;
  --color-shared-orchid-tint-60: #fbfafdff;
  --color-shared-grape-shade-50: #1a051cff;
  --color-shared-grape-shade-40: #2e0834ff;
  --color-shared-grape-shade-30: #530f5eff;
  --color-shared-grape-shade-20: #6f1380ff;
  --color-shared-grape-shade-10: #831795ff;
  --color-shared-grape-primary: #9119a5ff;
  --color-shared-grape-tint-10: #9f2dafff;
  --color-shared-grape-tint-20: #ad43bcff;
  --color-shared-grape-tint-30: #c063cdff;
  --color-shared-grape-tint-40: #e1ace6ff;
  --color-shared-grape-tint-50: #f0d2f4ff;
  --color-shared-grape-tint-60: #fbf4fcff;
  --color-shared-berry-shade-50: #230a21ff;
  --color-shared-berry-shade-40: #41143bff;
  --color-shared-berry-shade-30: #75236bff;
  --color-shared-berry-shade-20: #9c2f90ff;
  --color-shared-berry-shade-10: #b737a8ff;
  --color-shared-berry-primary: #cb3ebbff;
  --color-shared-berry-tint-10: #d151c4ff;
  --color-shared-berry-tint-20: #d966ccff;
  --color-shared-berry-tint-30: #e284d7ff;
  --color-shared-berry-tint-40: #f0c0eaff;
  --color-shared-berry-tint-50: #f7def4ff;
  --color-shared-berry-tint-60: #fdf6fcff;
  --color-shared-lilac-shade-50: #200d23ff;
  --color-shared-lilac-shade-40: #3b1740ff;
  --color-shared-lilac-shade-30: #6a2a75ff;
  --color-shared-lilac-shade-20: #8f38a0ff;
  --color-shared-lilac-shade-10: #a942bcff;
  --color-shared-lilac-primary: #bc49d0ff;
  --color-shared-lilac-tint-10: #c55cd6ff;
  --color-shared-lilac-tint-20: #cf70deff;
  --color-shared-lilac-tint-30: #db8ce7ff;
  --color-shared-lilac-tint-40: #eac5f1ff;
  --color-shared-lilac-tint-50: #f5e0f8ff;
  --color-shared-lilac-tint-60: #fdf7feff;
  --color-shared-pink-shade-50: #280a1eff;
  --color-shared-pink-shade-40: #4a1437ff;
  --color-shared-pink-shade-30: #8a2366ff;
  --color-shared-pink-shade-20: #b83086ff;
  --color-shared-pink-shade-10: #d8399eff;
  --color-shared-pink-primary: #f040b0ff;
  --color-shared-pink-tint-10: #f354baff;
  --color-shared-pink-tint-20: #f76ac4ff;
  --color-shared-pink-tint-30: #fc89d1ff;
  --color-shared-pink-tint-40: #fdc5e7ff;
  --color-shared-pink-tint-50: #fee0f3ff;
  --color-shared-pink-tint-60: #fff7fcff;
  --color-shared-hotPink-shade-50: #280019ff;
  --color-shared-hotPink-shade-40: #4a0030ff;
  --color-shared-hotPink-shade-30: #890053ff;
  --color-shared-hotPink-shade-20: #b80070ff;
  --color-shared-hotPink-shade-10: #d80085ff;
  --color-shared-hotPink-primary: #ef0094ff;
  --color-shared-hotPink-tint-10: #f31e9fff;
  --color-shared-hotPink-tint-20: #f63baeff;
  --color-shared-hotPink-tint-30: #fa63bfff;
  --color-shared-hotPink-tint-40: #fbb2e0ff;
  --color-shared-hotPink-tint-50: #fdd7f0ff;
  --color-shared-hotPink-tint-60: #fef6fbff;
  --color-shared-magenta-shade-50: #230015ff;
  --color-shared-magenta-shade-40: #3e0028ff;
  --color-shared-magenta-shade-30: #750047ff;
  --color-shared-magenta-shade-20: #9d015fff;
  --color-shared-magenta-shade-10: #b80070ff;
  --color-shared-magenta-primary: #cc007dff;
  --color-shared-magenta-tint-10: #d41a8bff;
  --color-shared-magenta-tint-20: #db3599ff;
  --color-shared-magenta-tint-30: #e65caeff;
  --color-shared-magenta-tint-40: #f0a9d5ff;
  --color-shared-magenta-tint-50: #f7d2e9ff;
  --color-shared-magenta-tint-60: #fdf4faff;
  --color-shared-plum-shade-50: #16000eff;
  --color-shared-plum-shade-40: #2a001bff;
  --color-shared-plum-shade-30: #4c0030ff;
  --color-shared-plum-shade-20: #63003fff;
  --color-shared-plum-shade-10: #750049ff;
  --color-shared-plum-primary: #820051ff;
  --color-shared-plum-tint-10: #921161ff;
  --color-shared-plum-tint-20: #a32774ff;
  --color-shared-plum-tint-30: #b8478eff;
  --color-shared-plum-tint-40: #da99c4ff;
  --color-shared-plum-tint-50: #ecc7dfff;
  --color-shared-plum-tint-60: #fbf2f7ff;
  --color-shared-beige-shade-50: #181717ff;
  --color-shared-beige-shade-40: #2a2929ff;
  --color-shared-beige-shade-30: #4b4948ff;
  --color-shared-beige-shade-20: #656160ff;
  --color-shared-beige-shade-10: #767170ff;
  --color-shared-beige-primary: #837d7cff;
  --color-shared-beige-tint-10: #93908eff;
  --color-shared-beige-tint-20: #a3a09fff;
  --color-shared-beige-tint-30: #b8b5b4ff;
  --color-shared-beige-tint-40: #dfdcdcff;
  --color-shared-beige-tint-50: #f0eeeeff;
  --color-shared-beige-tint-60: #fcfbfbff;
  --color-shared-mink-shade-50: #131212ff;
  --color-shared-mink-shade-40: #211f1eff;
  --color-shared-mink-shade-30: #3a3837ff;
  --color-shared-mink-shade-20: #4e4b49ff;
  --color-shared-mink-shade-10: #5b5856ff;
  --color-shared-mink-primary: #656260ff;
  --color-shared-mink-tint-10: #787573ff;
  --color-shared-mink-tint-20: #8d8a87ff;
  --color-shared-mink-tint-30: #a6a3a1ff;
  --color-shared-mink-tint-40: #d3d1d0ff;
  --color-shared-mink-tint-50: #e8e7e6ff;
  --color-shared-mink-tint-60: #fbfbfbff;
  --color-shared-silver-shade-50: #191c1cff;
  --color-shared-silver-shade-40: #2d3334ff;
  --color-shared-silver-shade-30: #4f595cff;
  --color-shared-silver-shade-20: #6b787bff;
  --color-shared-silver-shade-10: #809095ff;
  --color-shared-silver-primary: #8d9fa3ff;
  --color-shared-silver-tint-10: #9aa9adff;
  --color-shared-silver-tint-20: #a8b7baff;
  --color-shared-silver-tint-30: #bcc4c7ff;
  --color-shared-silver-tint-40: #dee5e6ff;
  --color-shared-silver-tint-50: #eff3f4ff;
  --color-shared-silver-tint-60: #fbfcfcff;
  --color-shared-platinum-shade-50: #151718ff;
  --color-shared-platinum-shade-40: #242a2cff;
  --color-shared-platinum-shade-30: #404a4eff;
  --color-shared-platinum-shade-20: #566266ff;
  --color-shared-platinum-shade-10: #65747aff;
  --color-shared-platinum-primary: #718088ff;
  --color-shared-platinum-tint-10: #819097ff;
  --color-shared-platinum-tint-20: #91a0a7ff;
  --color-shared-platinum-tint-30: #a8b5bbff;
  --color-shared-platinum-tint-40: #d1dbddff;
  --color-shared-platinum-tint-50: #e7eceeff;
  --color-shared-platinum-tint-60: #fafbfcff;
  --color-shared-anchor-shade-50: #0c0d0eff;
  --color-shared-anchor-shade-40: #141617ff;
  --color-shared-anchor-shade-30: #24282bff;
  --color-shared-anchor-shade-20: #2f3a3eff;
  --color-shared-anchor-shade-10: #384249ff;
  --color-shared-anchor-primary: #3e494eff;
  --color-shared-anchor-tint-10: #525f65ff;
  --color-shared-anchor-tint-20: #67757bff;
  --color-shared-anchor-tint-30: #869499ff;
  --color-shared-anchor-tint-40: #c1c8ccff;
  --color-shared-anchor-tint-50: #dfe3e5ff;
  --color-shared-anchor-tint-60: #f8f9faff;
  --color-shared-charcoal-shade-50: #0b0b0bff;
  --color-shared-charcoal-shade-40: #141414ff;
  --color-shared-charcoal-shade-30: #242424ff;
  --color-shared-charcoal-shade-20: #2f2f2fff;
  --color-shared-charcoal-shade-10: #383838ff;
  --color-shared-charcoal-primary: #3f3f3fff;
  --color-shared-charcoal-tint-10: #575757ff;
  --color-shared-charcoal-tint-20: #6f6f6fff;
  --color-shared-charcoal-tint-30: #8f8f8fff;
  --color-shared-charcoal-tint-40: #c8c8c8ff;
  --color-shared-charcoal-tint-50: #e2e2e2ff;
  --color-shared-charcoal-tint-60: #f9f9f9ff;
  --spacing-0: 0;
  --spacing-05: 2px;
  --spacing-1: 4px;
  --spacing-15: 6px;
  --spacing-2: 8px;
  --spacing-25: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-32: 128px;
  --spacing-40: 160px;
  --spacing-48: 192px;
  --spacing-56: 224px;
  --spacing-64: 256px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-120: 480px;
  --spacing-140: 560px;
  --spacing-160: 640px;
  --spacing-180: 720px;
  --spacing-192: 768px;
  --spacing-256: 1024px;
  --spacing-320: 1280px;
  --spacing-360: 1440px;
  --spacing-400: 1600px;
  --spacing-480: 1920px;
}
